 body {
 	background: url(https://ejcastellanos.github.io/unit_4/image/Sandwichito-01.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
	color: #f4df42;
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 140px;
	font-style: normal;
	font-weight: 400;
	
	
}
p {
	color: #f4df42;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-style: normal; 
	font-weight: 100;
	max-width: 700px;
	
	
}
ul {
	color: #f4df42;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 100;
	
 }
li {
	color: #f4df42;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 100;	 
}
img {

}
#slogan {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	font-weight: 100;
	font-style: normal;
}